@import "mixins";

$text-color: #4e4d4d;
$grey-color: #aaaaaa;
$background-color: #f2f2f2;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
  a {
    text-decoration: none;
    color: $text-color;
  }
}

header {
  ul {
    @include flex(flex-end, center, row);
    li {
      padding: 0.6rem;
    }
  }
}

section {
  height: 80vh;
  @include flex(center, center, none);
  .main-content {
    width: 60%;
    color: $text-color;
    text-align: center;
    .search {
      form {
        .search-block {
          @include flex(center, center, row);
          border: 1px $grey-color solid;
          width: 70%;
          margin: 1.5rem auto;
          border-radius: 100px;
          input {
            border: none;
            width: 85%;
            height: 40px;
            font-size: 1.5rem;
            outline: none;
            padding-left: 10px;
          }
          img {
            width: 1.6rem;
            height: auto;
          }
        }
        .buttons {
          .btn {
            padding: 10px 20px;
            background-color: $background-color;
            border-radius: 5px;
            border: none;
            margin: 0px 25px;
            &:hover {
              border: 0.6px solid $grey-color;
            }
          }
        }
      }
    }

    .lang {
      padding-top: 2rem;
      font-size: 0.9em;
      a {
        padding-left: 10px;
      }
    }
  }
}

footer {
  .country {
    width: 100%;
    height: 2.5rem;
    padding: 10px 10px;
    @include colors;
  }
  .end-footer {
    @include flex(flex-start, center, row);
    @include colors;
    border-top: none;
    .left {
      width: 50%;
      ul {
        @include flex(flex-start, center, row);
        font-size: 0.9em;
        padding: 1rem;
        li {
          padding-right: 15px;
        }
      }
    }
    .right {
      @extend .left;
      @include flex(flex-end, center, row);
    }
  }
}

@media (max-width: 1100px) {
  .search-block {
    padding: 0 10px;
  }
  .buttons {
    .btn {
      @include flex(center, flex-start, column)
    }
  }
  .end-footer {
    @include flex (flex-start, flex-start, column); 
    
  }
}